* {
  padding: 0;
  margin: 0; }

body {
  background-color: #eee;
  height:100%;
}

.box {
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 480px;
  height: 480px;
}
  .box div {
    width: 40px;
    height: 40px;
    float: left;
    line-height:40px;
    text-align: center;
  }

.type1 {
  opacity: .5;
}

.type2,.type1{
  background-color: #3266cc; }

.type3 {
  background-color: rgba(7,17,27,.8) }

.type4 {
  box-sizing: border-box;
  border:1px solid  rgba(7,17,27,.5);
  background-color: #cca71a; }

.pusher {
  width: 40px;
  height: 40px;
  background: url("../img/pikachu.jpg") #3266cc;
  background-size: cover;
 }



